<head>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="/js/bootstrap-select.js"></script>

</head>



<style>



  h1 {
        text-align: center
    }

  #form {
        padding-left: 2%;
        padding-right: 2%;
    }

  #addItem {
    margin-right: 0;
  }

 
  .submit-button {
  
    width: 170px;
    height: 40px;
    background-color: #2eb85c;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    transition: all 0.5s
  }

  .submit-button:hover {
    opacity: 0.7
  }


 
</style>


<script>



  $(document).ready(function () {


    // Append table with add row form on add new button click
    $(".add-new").click(function () {
      var row = '<tr>' +
        '<td><select name="ItemProduto" class="form-control " onchange="preencheCampo(this);" required>' +
        '<option selected>Selecione o Produto</option>' +
        '{{#each dados.prod}}' +
        '<option value={{id}}>{{descricao}}</option>' +
        '{{/each}}</td>' +
        '<td><input type="number" min="1" class="form-control" name="ItemQuantidade" id="quantidade" required></td>' +
        '<td><a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a> </td>' +
        '</tr>';
      $("table").append(row);
      $("table tbody tr").eq(index + 1).find(".add").toggle();
      $('[data-toggle="tooltip"]').tooltip();
    });

    // Delete row on delete button click
    $(document).on("click", ".delete", function () {
      $(this).parents("tr").remove();
      $(".add-new").removeAttr("disabled");
    });

    $("#IDFornecedor").on('change', function (e) {
      alert($(this).val())
      return false;
    });

  });

</script>

<h1>Cadastro de Orçamento</h1>

<form id='form' action="/cad-Orcamento" method="POST">
  <div class="form-row">

    <div class="col-md-5 mb-4">
      <label for="validationCustom02">Nome Fornecedor</label>
      <br>
      <select for="validationCustom02" title="Selecione o Fornecedor" data-live-search="true" name="DescricaoForn"
        id="descricaoForn" class="selectpicker form-control" data-width="75%" data-dropup-auto="false"
        data-selected-text-format="count > 2" multiple required>
        {{#each dados.forn}}
        <option value={{id}} data-subtext="{{cnpj}} - {{atividades}}">{{nomeFantasia}}</option>
        {{/each}}
      </select>

    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Descrição do Orçamento</label>
      <input type="text" class="form-control" name="Descricao" placeholder="Descrição do orçamento" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">Solicitante</label>
      <input type="text" class="form-control" name="IDSolicitante" placeholder="Solicitante" required>

    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom05">Data Fechamento</label>
      <input type="date" class="form-control" name="DataLimite" required>

    </div>
  </div>


  <button type="button" id='addItem' class="btn btn-info add-new my-1">Adicionar Produto</button>
  <table class="table table-hover">
    <thead>
      <tr>

        <th scope="col">Descrição</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Acao</th>
        <br>
      </tr>
    </thead>
    <tbody id="tbProdutos">
    </tbody>

  </table>

  <hr>
  <button type="submit" id="cadastrar" class="btn btn-info submit-button">Cadastrar</button>
  </div>
</form>

<script async="" src="//www.google-analytics.com/analytics.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>