

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
  H1 {
    margin-left: 5%;
  }

  #form {
    padding: 30px;
  }

  #addItem {
    margin-right: 0;
  }

  #cadastrar {
    position: absolute;

    right: 5%;
  }
</style>


<script>
  
  function updateValorTotal(){

     var quantidade = document.getElementById('itemQuantidade').value;
     var ValorUni = document.getElementById('itemValorUni').value;
      document.getElementById('itemValorTotal').value = quantidade*ValorUni;

      console.log(quantidade);
  }

  function updateClickedDesc() {
    var select = document.getElementById('descForn');
    var option = [select.selectedIndex];
    console.log(option);
    document.getElementById('IDFornecedor').value = option;//option.value;
    $('#cnpjForn').val(option);
  }

  function updateClickedCnpj() {
    var select = document.getElementById('cnpjForn');
    var option = [select.selectedIndex];
    console.log(option);
    document.getElementById('IDFornecedor').value = option;//option.value;
    $('#descForn').val(option);
  }



    /* $('#IDFornecedor').on('change', function() {
    });*/




</script>

<h1>Preenchimento de Orçamento</h1>


<form id='form' action="/resp-Orcamento" method="POST">
  <div class="form-row">
     <div class="col-md-1 mb-3">
      <label>Orçamento</label>
      <input type="number" class="form-control" id="orcamentoID" value="{{dados.orc.id}}" name="OrcamentoID" readonly>
    </div>
    <div class="col-md-2 mb-3">
      <label>Código Fornecedor</label>
      <input type="number" class="form-control" id="fornecedorId" value="{{dados.forn.id}}" name="FornecedorID" readonly>
    </div>
    <div class="col-md-2 mb-3">
      <label for="validationCustom02">CNPJ Fornecedor</label>
     <input type="text" min="1" class="form-control" name="FornecedorCNPJ" value="{{dados.forn.cnpj}}" id="fornecedorCNPJ" disabled>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Nome Fornecedor</label>
      <input type="text" min="1" class="form-control"  name="FornecedorNome" value="{{dados.forn.nomeFantasia}}" id="fornecedorNome" disabled>
    </div>
    <div class="col-md-2 mb-1">
      <label for="validationCustom02">Data Solicitação</label>
      <input type="text" min="1" class="form-control" name="OrcamentoDataSolicitacao" value="{{dados.orc.dataSolicitacao}}" id="orcamentoDataSolicitacao" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Descrição do Orçamento </label>
      <input type="text" class="form-control" name="OrcamentoDescricao" value="{{dados.orc.descricao}}" placeholder="Descrição do orçamento" disabled>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">Solicitante</label>
      <input type="text" class="form-control" name="SolicitanteID"  value="{{dados.orc.idUsuarioSolicitante}}" placeholder="Solicitante" disabled>

    </div>
    <div class="col-md-2 mb-3">
      <label for="validationCustom05">Data Fechamento</label>
      <input type="date" class="form-control" value="{{dados.orc.dataLimite}}" name="DataLimite" disabled>

    </div>
  </div>



  <table class="table table-hover">
    <thead>
      <tr>
         <th scope="col">ID Registro</th>
         <th scope="col">ID Produto</th>
        <th scope="col">Produto</th>
        <th scope="col">Quantidade</th>
        <th scope="col">% IPI</th>
        <th scope="col">Valor Uni</th>
        <th scope="col">Valor Total</th>
        <br>
      </tr>
    </thead>
    <tbody id="tbProdutos">
         {{#each dados.itensOrc}}
        <td><input type="text" min="1" class="form-control" value="{{id}}" name="ItemID" id="itemId" readonly></td>
       <td><input type="text" min="1" class="form-control" value="{{idProduto}}" name="ItemIDProduto" id="itemIdProduto" disabled></td>
      <td><input type="text" min="1" class="form-control" value="{{descricao}}" name="ItemDescricao" id="itemDescricao" disabled></td>
       <td><input type="text" min="1" class="form-control" value="{{qtdProduto}}" name="ItemQuantidade" id="itemQuantidade" readonly></td>
       <td><input type="number" min="1" class="form-control" name="ItemIpi" id="itemIpi" required></td>
       <td><input type="number" min="1" class="form-control"  name="ItemValorUni" id="itemValorUni" onblur="updateValorTotal(this)" required></td>
      <td><input type="number" min="1" class="form-control" name="ItemValorTotal" id="itemValorTotal" required></td>
      <td> </td>
       </tr>
    {{/each}}
    </tbody>

  </table>

  <br>
  <hr>
  <button type="submit" id="cadastrar" class="btn btn-info">Cadastrar</button>
  </div>
</form>