<h1 align="center">Formulário de Orçamentos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width:10%">Orcamentos</th>
      <th scope="col" style="width:10%">Fornecedor</th>
      <th scope="col">Descrição</th>
      <th scope="col" style="width:12%">Data Solicitação</th>
      <th scope="col" style="width:12%">Data Limite</th>
      <th scope="col">Status</th>
    
     </tr>
  </thead>
  <tbody id="data">
    {{#each orcamentos}}
     <td>{{id}}</td>
    <td>{{idFornecedor}}</td>
     <td>{{descricao}}</td>
     <td>{{dataSolicitacao}}</td>
      <td>{{dataLimite}}</td>
    <td>{{statusOrcamento}}</th>
    
      
     </tr>
{{/each}}

  </tbody>
</table>