<h1>Formulário de Orcamentos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Orcamento</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Solicitante</th>
      <th scope="col">descricao</th>
      <th scope="col">Status</th>
      <th scope="col">Data Solicitação</th>
      <th scope="col">Data Limite</th>
    <br>
    </tr>
    </thead>
     <tbody id="data">
    {{#each orcamentos}}
    
     <td>{{idOrcamento}}</td>
    <td>{{idFornecedor}}</td>
    <td>{{idUsuarioSolicitante}}</th>
    <td>{{descricao}}</th>
    <td>{{statusOrcamento}}</th>
    <td>{{dataSolicitacao}}</th>
    <td>{{dataLimite}}</th>

     </tr>
{{/each}}

  </tbody>
</table>